<div style="max-width: 60em; margin: auto">
  <div class="mb-2">
    <label class="form-label w-100">Route
      <select class="form-control" id="rawFormRoute">
        <% raw_form_routes.each do |route| %>
          <% path = @route_props[:with_path_args].call(route[:route]) %>
          <option value="<%= route[:verb] %>:<%= path %>"><%= route[:verb] %> <%= route[:relative_path] %></option>
        <% end %>
      </select>
    </label>
  </div>

  <div class="mb-2">
    <label class="form-label w-100">Media Type
      <select class="form-control" id="rawFormMediaType">
        <% ["application/json", "application/x-www-form-urlencoded", "multipart/form-data"].each do |t| %>
          <option value="<%= t %>"><%= t %></option>
        <% end %>
      </select>
    </label>
  </div>

  <div class="mb-2">
    <label class="form-label w-100">Content
      <textarea class="form-control" style="font-family: monospace" id="rawFormContent" rows="8" cols="60"></textarea>
    </label>
  </div>

  <button type="button" class="btn btn-primary" style="float: right" onclick="rrfSubmitRawForm(this)">Submit</button>
</div>
