<tr>
  <td>
    <% if route[:route].name && link_args = route[:show_link_args] %>
      <%= link_to route[:relative_path], self.send("#{route[:route].name}_path", *link_args) %>
    <% else %>
      <%= route[:relative_path] %>
    <% end %>
  </td>
  <td><%= route[:verb] %></td>
  <td><%= route[:controller] %>#<%= route[:action] %></td>
</tr>
