<tr>
  <td>
    <% if route[:verb] == "GET" && route[:matches_params] %>
      <%= link_to route[:relative_path], route[:path_with_params] %>
    <% else %>
      <%= route[:relative_path] %>
    <% end %>
  </td>
  <td><%= route[:verb] %></td>
  <td><%= route[:controller] %>#<%= route[:action] %></td>
</tr>
